.fondo{
    height: 400px;
    width: 100%;
    background-image: url("/img/body-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fondo .texto-intro{
    padding-top: 15px;
    width: 100%;
}

.fondo .texto-intro h1{
    text-align: center;
    color: white;
}