.body-fondo{
    background-image: url(../img/body-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;   
}

.pantallax{
    text-align: center;
    padding-top: 90px;
}

.pantallax h1{
    color: white;
    font-size: 90px;
    font-weight: 700;
    display: block;
    height: 130px;
}

.pantallax span{
    font-size: 30px;
    display: block;
    color: white;
}

.pantallax button{
    margin-top: 50px;
    height: 40px;
    width: 210px;
    background-color: #c4e829;
    border: none;
    text-align: center;
    font-size: 18px;
    color: #2a4481;
    cursor: pointer;
    font-weight: bold;
}

.pantallax button:hover{
    background-color: #2a4481;
    transition: 0.6s;
    color: #c4e829;
    
}

.body-detal{
    background-image: url(../img/body-detal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;  
}

.body-detal .info{
    padding-top: 100px;
   
}

.body-detal .info h2{
    color: black;
    padding-left: 200px;
    font-size: 24px;
    line-height: 35px;
    font-weight: 500;
}

.body-detal .info h2 span{
    color: #3a54a5;
}

.clear20 {
    clear: both;
    height: 20px;
}

.body-detal .info p{
    color: black;
    margin-left: 300px;
    line-height: 25px;
    font-size: 15px;
}

.pie-pag{
    background-image: url(../img/pie-fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;  
}
.contenedor {
    width: 1200px;
    margin: 0px auto;
    position: relative;
}

.contenedor .pie-ubi li a{
    text-decoration: none;
    color: white;
}

.contenedor .pie-ubi .pie-tel{
    padding-top: 30px;
    display: flex;
}

.contenedor .pie-ubi .pie-tel a{
    text-decoration: none;
    color: white;
}

.contenedor .pie-ubi li a:hover,.contenedor .pie-ubi .pie-tel a:hover{
    color: #b3d134;
}