.body-fondo{
    width: 100%;
    height: 500px;
    background-color: black;
}
.pantallax{
    background-image: url(../img/body-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    
}
@media screen and (max-width:1000px){
    .pantallax{
        background-position: center;
        height: 500px;
        
    }
}