*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Urbanist', sans-serif;
}

.menu{
    z-index: 3;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}

.menu .logo{
    display: flex;
    align-items: center;
    color: black;
    padding: 0px 10px;
    font-weight: bold;
}

.logo img{
    width: 75px;
    height: 70px;
    border-radius: 25%;
}

.menu h1{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Urbanist', sans-serif;
    line-height: 0px;
    font-weight: normal;
    letter-spacing: 0;
}

.menu_items {
    z-index: 3;
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: white;
}

.menu_items li:hover, li.active{
    background-color: rgba(190, 190, 190, 0.781);
    transition: .6s;
}

.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: black;
    cursor: pointer;
    display: none;
}

ul.show{
    top: 79px;
    z-index: 3;
}

@media  screen and (max-width: 1300px) {
    .menu .logo{
        display: flex;
        align-items: center;
    }
    .menu .logo img{
        width: 70px;
        height: 60px;
        border-radius: 25%;
    }
    .menu h1{
        font-size: 15px;
        color: white;
        text-transform: uppercase;
    }
    .menu_items li a{
        font-size: 16px;
    }
}


@media screen and (max-width: 1145px) {
    header{
        height: 60px;
    }
    .btn_menu{
        margin-right: 15px;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
    ul.show{
        top: 59px;
        height: 100vh;
    }
    .menu .logo{
        display: flex;
        align-items: center;
    }
    .menu .logo img{
        width: 60px;
        height: 50px;
        border-radius: 25%;
    }
    .menu h1{
        font-size: 1rem;
        color: white;
        text-transform: uppercase;
    }
    .menu{
        height: 60px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        z-index: 3;
        position: fixed;
        width: 100vw;
        height: calc(100% - 120px);
        background: black;
        top:  -100vh;
        text-align: center;
        transition: all .6s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 1px 0 0 0;
        line-height: 20px;
    }
    .menu_items li a{
        font-size: 20px;
    }
    .logo{
        font-size: 25px;
    }
    
}

@media  screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}
