*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
header{
    height: 80px;
}
body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.menu{
    z-index: 3;
    background-color: gray;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.menu .logo{
    display: flex;
    align-items: center;
    color: #eff;
    padding: 0px 10px;
    font-weight: bold;
}

.logo img{
    width: 75px;
    height: 70px;
    border-radius: 25%;
}

.menu h1{
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}

.menu_items {
    z-index: 3;
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu_items li{
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: black;
}

.menu_items li:hover, li.active{
    background-color: rgba(0, 0, 0, .3);
    transition: .6s;
}

.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color: black;
    cursor: pointer;
    display: none;
}

ul.show{
    top: 65px;
    z-index: 3;
}

@media  screen and (max-width: 1300px) {
    .menu .logo{
        display: flex;
        align-items: center;
    }
    .menu .logo img{
        width: 70px;
        height: 60px;
        border-radius: 25%;
    }
    .menu h1{
        font-size: 15px;
        color: black;
        text-transform: uppercase;
    }
    .menu_items li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    header{
        height: 70px;
    }
    .menu{
        height: 70px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        z-index: 3;
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #414141;
        top:  -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .logo{
        font-size: 25px;
    }
}

@media screen and (max-width: 1000px) {
    header{
        height: 60px;
    }
    .btn_menu{
        margin-right: 15px;
        font-size: 30px;
        color: black;
        cursor: pointer;
    }
    ul.show{
        top: 59px;
        height: 100vh;
    }
    .menu .logo{
        display: flex;
        align-items: center;
    }
    .menu .logo img{
        width: 60px;
        height: 50px;
        border-radius: 25%;
    }
    .menu h1{
        font-size: 1rem;
        color: black;
        text-transform: uppercase;
    }
    .menu{
        height: 60px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        z-index: 3;
        position: fixed;
        width: 100vw;
        height: calc(100% - 120px);
        background: #414141;
        top:  -100vh;
        text-align: center;
        transition: all .6s;
        flex-direction: column;
    }
    .menu_items li{
        margin: 1px 0 0 0;
        line-height: 20px;
    }
    .menu_items li a{
        font-size: 20px;
    }
    .logo{
        font-size: 25px;
    }
}

@media  screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li{
        margin: 5px 0 0 0;
    }
    .menu_items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}
